.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0;
}

.grid input {
    font-size: 1.5rem;
    border: 1px solid var(--color);
    background-color: var(--light);
    width: 100%;
    border-radius: 5px;
    color: var(--color);
    padding: 0.5rem;
    margin: 0 0 2rem;
}

.grid figure {
    margin: 0;
    display: flex;
}
.grid figure > div, .grid figcaption {
    flex: 1;
    min-width: 127px;
}

.grid figcaption {
    margin-left: 2rem;
    align-items: center;
}

.grid ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin: 1rem 0;

}
@media (min-width: 767px) { 
    .grid {
        flex-direction: row;
        margin-top: 0;
    }
    
    

.grid ul {
    margin: 0 0 0 1.5rem;
    flex-basis: 70%;
}
.grid li {
    margin-bottom: 0.5rem;
}
}