.gridNumbers {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 66%;
    justify-content: center;
}

.gridNumbers li {
    position: relative;
    margin-top: 35px;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.draggable {
  position: absolute;
  z-index: 1;
}
.isDragging {
  background-color: var(--colorLight);
  border-radius: 5px;
}

.slots {
    margin:0;
    padding:0;
    list-style-type: none;
    flex: 1;
    font-size: 0.8rem;
min-width: 200px;
}

.numbers {
  font-size: 0.9rem;
}

.slot {
    width: 85px;
    height: 41px;
    background-color: var(--colorLight);
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slots li {
    display: flex;
    margin: 1rem 0;
    align-items: center;
}
.reset {
  text-align: center;
  padding-top: 2rem;
}

.reset button {
  font-size: 1.5rem;
  border: 0;
  background-color: var(--color);
  color: var(--accent);
  padding: 0.8rem 2rem;
  border-radius: 10px;
  transition: 0.8s;
}

.reset button:hover {
  color: var(--light);
}

@media (min-width: 667px) {
    .grid {
        display: flex;
        justify-content: space-between;
    
    }
    .gridNumbers {
    margin:0 0 0 2rem;
    }
    .gridNumbers li  {
        padding: 1rem;
    }

}

@media (min-width: 1200px) {
    .slots, .gridNumbers li {
      font-size: 1.3rem;
    }
  }