.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black
}
.content {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
background-color: var(--color);
color: var(--accent);
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.footer a {
  text-decoration: underline;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  background-color: var(--color);
  color: var(--accent);
  font-family: 'Sanchez', serif;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  width: 100%;

}

.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.blurb {
  font-size: 1.4rem;
  line-height: 1.6;
}

.grid {
  margin: 3rem 0;
  width: 90%;
}

@media (min-width: 769px) { 
  .grid {
    display: grid;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    width: 80%;
  }

.title, .footer {
  text-align: left;
}
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 2fr 1fr;

  }
  .blurb {
  font-size: 2rem;
}
}
