.noGrid {
    margin: 3rem 0;
    width: 90%;
  }

.row {
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.figure {
margin:0;
  }
  .row .figure {
    margin: 1rem 0 0;
    padding: 20px 0;
      width: 45%;
  }

  .row .figure {
    padding: 0 10px;
  }

  @media (min-width: 767px) { 
    .noGrid {
        max-width: 80%;
        margin: 0 auto;
      }
      .row {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
      }
      .row .figure {
        width: 38%;
      }
    }

    @media (min-width: 1200px) {
        .row .figure {
            width: auto;
              margin: 2rem 0 0;
          }
          
    }
  